{% extends "base.html" %}
{% block content %}
<h1>Pick Colonies</h1>
<h4> Total Count: {{count}}</h4>
<h4> Selected: {{cutoff}}</h4>
<div class="thresholdImages">
    <img class="binaryPetri" id='zoom1' src="{{blob}}" data-zoom-image="{{blob}}"/>
    <img class="binaryPetri" id='zoom2' src="{{ blob_binary }}" data-zoom-image="{{blob_binary}}"/>
    <script src='static/jquery-1.8.3.min.js'></script>
    <script src='static/jquery.elevateZoom-3.0.8.min.js'></script>
    <script>
      $('#zoom1').elevateZoom({zoomWindowPosition: "container1", zoomWindowHeight: 200, zoomWindowWidth:200, borderSize: 0, scrollZoom: true});
      $('#zoom2').elevateZoom({zoomWindowPosition: "container2", zoomWindowHeight: 200, zoomWindowWidth:200, borderSize: 0, scrollZoom: true});
    </script>
</div>
<div class ="thresholdImages">
  <div style="background-color: white;
              height: 200px;
              width: 200px;  opacity: 0.4;"
              id="container1">
              <div style="opacity:1;color: black;"> Zoomed view of the petri dish will appear here.</div>
  </div>
  <div style="background-color: white;
              height: 200px;
              width: 200px;  opacity: 0.4; margin-left: 460px"
              id="container2">
              <div style="opacity:1;color: black;"> Zoomed view of the binary petri dish will appear here</div>
  </div>
</div>
<div class="button">
  <form action='pick' method = 'POST'>
    {% csrf_token %}
    <input type="hidden" name="original" value={{original}}>
    <input type="hidden" name="edit" value = {{edit}}>
    <input type="hidden" name="fromThresh" value = 0>

    <label for="cutoffId">Cutoff</label>
    <input type="range" name="cutoff" id="cutoffId" value={{cutoff}} min=1 max={{count}} step="1" oninput="cutoffOutId.value = cutoffId.value">
    <output name="cutoffOut" id="cutoffOutId">{{cutoff}}</output>

    <button type='submit'>Update Colony Count</button>
  </form>
</div>
<div class="button">
  <a  href="{{ coordinates }}" download><button class="pickButton" type='submit'>Download Coordinates</button></a>
</div>
<div class="button">
    <form action='/' method = 'POST'>
      {% csrf_token %}
      <input type="hidden" name="original" value={{ original }}>
      <input type="hidden" name="edit" value = {{ edit }}>
      <input type="hidden" name="original_blob" value={{ blob }}>
      <input type="hidden" name="edit_blob" value = {{ blob_binary }}>
      <input type="hidden" name="coordinates" value = {{ coordinates }}>
      <input type="hidden" name="from_pick" value = 1>
      <button class="endButton" type='submit'>Finish</button>
    </form>
</div>
{% endblock %}
