.thresholdImages{
  display: flex;
}

.originalPetri{
  width: 50%;
  height: 50%;
  margin-right: 10%;
}

.binaryPetri{
  width: 50%;
  height: 50%;
}

.button{
  display: flex;
  justify-content: center;
}

.endButton {
  background-color:#F80A0A ; /* Red */
}

.pickButton {
  background-color: #4CAF50; /* Green */
}
