{% extends "base.html" %}
{% block content %}
<h1>Thresholding</h1>
<div class="thresholdImages">
  <h3>Block Size: {{blockSize}}</h3>
  <h3>Constant: {{constant}}</h3>
</div>
<div class="thresholdImages">
    <img class="originalPetri" src="{{url}}"/>
    <img class="binaryPetri" src="{{thresholdUrl}}"/>
</div>
<div class="button">
  <form action='threshold' method = 'POST'>
    {% csrf_token %}
    <input type="hidden" name="original" value={{url}}>
    <input type="hidden" name="edit" value = {{thresholdUrl}}>

    <label for="blockSizeId">Block Size</label>
    <input type="range" name="blockSize" id="blockSizeId" value={{blockSize}} min=1 max="49" step="2" oninput="blockSizeOutId.value = blockSizeId.value">
    <output name="blockSizeOut" id="blockSizeOutId">{{blockSize}}</output>

    <label for="constantId">Constant</label>
    <input type="range" name="constant" id="constantId" value={{constant}} min="1" max="7" step="1" oninput="constantOutId.value = constantId.value">
    <output name="constantOut" id="constantOutId">{{constant}}</output>

    <button type='submit'>Update Threshold</button>
  </form>
</div>
<div class="button">
    <form action='pick' method = 'POST'>
      {% csrf_token %}
      <input type="hidden" name="original" value={{url}}>
      <input type="hidden" name="edit" value = {{thresholdUrl}}>
      <button class="pickButton" type='submit'>Pick Colonies</button>
    </form>
</div>
{% endblock %}
