{% extends "base.html" %}
{% block content %}
<h1>Thresholding</h1>
<div class="thresholdImages">
  <h3>Block Size: {{blockSize}}      Constant: {{constant}}</h3>
  <!-- <h3></h3> -->
</div>
<div class="thresholdImages">
    <img class="originalPetri" id='zoom1' src="{{url}}" data-zoom-image="{{url}}"/>
    <img class="binaryPetri" id='zoom2' src="{{thresholdUrl}}" data-zoom-image="{{thresholdUrl}}"/>
    <script src='static/jquery-1.8.3.min.js'></script>
    <script src='static/jquery.elevateZoom-3.0.8.min.js'></script>
    <script>
      $('#zoom1').elevateZoom({zoomWindowPosition: "container1", zoomWindowHeight: 200, zoomWindowWidth:200, borderSize: 0, scrollzoom: true});
      $('#zoom2').elevateZoom({zoomWindowPosition: "container2", zoomWindowHeight: 200, zoomWindowWidth:200, borderSize: 0, scrollZoom: true});
    </script>
</div>
<div class="thresholdImages">
  <div style="background-color: white;
              height: 200px;
              width: 200px;  opacity: 0.4;"
              id="container1">
              <div style="opacity:1;color: black;"> Zoomed view of the original petri dish will appear here</div>
  </div>
  <div style="background-color: white;
              height: 200px;
              width: 200px;  opacity: 0.4; margin-left: 460px"
              id="container2">
              <div style="opacity:1;color: black;"> Zoomed view of the binary petri dish will appear here</div>
  </div>
</div>
<div class="button">
  <form action='threshold' method = 'POST'>
    {% csrf_token %}
    <input type="hidden" name="original" value={{url}}>
    <input type="hidden" name="edit" value = {{thresholdUrl}}>

    <label for="blockSizeId">Block Size</label>
    <input type="range" name="blockSize" id="blockSizeId" value={{blockSize}} min=1 max="49" step="2" oninput="blockSizeOutId.value = blockSizeId.value">
    <output name="blockSizeOut" id="blockSizeOutId">{{blockSize}}</output>

    <label for="constantId">Constant</label>
    <input type="range" name="constant" id="constantId" value={{constant}} min="1" max="7" step="1" oninput="constantOutId.value = constantId.value">
    <output name="constantOut" id="constantOutId">{{constant}}</output>

    <button type='submit'>Update Threshold</button>
  </form>
</div>
<div class="button">
    <form action='pick' method = 'POST'>
      {% csrf_token %}
      <input type="hidden" name="original" value={{url}}>
      <input type="hidden" name="edit" value = {{thresholdUrl}}>
       <!--Input to keep track of first post request to pick page -->
      <input type="hidden" name="fromThresh" value = 1>
      <button class="pickButton" type='submit'>Pick Colonies</button>
    </form>
</div>
{% endblock %}
